h1{
 color: blueviolet;
 font-weight: bold;
 font-size: 30px;
 text-align: center;
 text-decoration: green underline wavy 5px;
}
*{

  color: blueviolet;
  background-color: bisque;
}

//HTML CSS*
//HTML css
//HTML 4.0 XML CSS
//HTML 5 (XML+HTML 4.0) +exp(CSS)
